<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gopa2000.mobapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ExpertSignupActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationChoice" />

        <service
            android:name=".SocketListener"
            android:enabled="true"
            android:exported="false"></service>
        <activity
            android:name=".CardLayoutTester"
            android:label="@string/title_activity_card_layout_tester"
            android:theme="@style/AppTheme" />
        <activity android:name=".CreateListing" />
        <activity android:name=".FullScreenCardLayout" />
        <activity android:name=".FullScreenCardLayoutListing" />
        <activity android:name=".EditSeekerProfile" />
        <activity android:name=".EditEmployerProfile" />
        <activity android:name=".ViewSeekerProfile" />
        <activity android:name=".ViewEmployerProfile"></activity>
    </application>

</manifest>